<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hot Dog ?</title>
</head>
<body>
<h1>Is this a Hot-Dog ?</h1>
<div class ="container">
    <div>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file" class="form-control" autocomplete="off" required>
            <input type="submit" value="Upload" class="btn btn-info"><br>
        </form>
        <form method="post" action="/submit">
            <img type="image" src={{list_to_send[0]}} onclick="clicked1()"/>
            <img type="image" src={{list_to_send[1]}} onclick="clicked2()"/>
            <img type="image" src={{list_to_send[2]}} onclick="clicked3()"/>
            <img type="image" src={{list_to_send[3]}} onclick="clicked4()"/><br>
            
            <input type="text" value="0" id="i1" name="p1">
            <input type="text" value="0" id="i2" name="p2">
            <input type="text" value="0" id="i3" name="p3">
            <input type="text" value="0" id="i4" name="p4"><br>
            <input type="submit" value="subbb"><br>
            <input type="text" value={{list_to_send[0]}} style="visibility: hidden;" name="l1">
            <input type="text" value={{list_to_send[1]}} style="visibility: hidden;" name="l2">
            <input type="text" value={{list_to_send[2]}} style="visibility: hidden;" name="l3">
            <input type="text" value={{list_to_send[3]}} style="visibility: hidden;" name="l4">
        </form>
        
    </div>
</div>
<script>   
    function clicked1() {
            this.document.getElementById("i1").value = "1";   
    }
    function clicked2() {
            this.document.getElementById("i2").value = "1";   
    }
    function clicked3() {
            this.document.getElementById("i3").value = "1";   
    }
    function clicked4() {
            this.document.getElementById("i4").value = "1";   
    }
</script>
</body>
</html>